.order-item-detail {
    border: 3px solid black;
    border-radius: 6px;
    min-height: 150px;
    margin-bottom:15px;
}

.order-details{
    border: 3px solid black;
    border-radius: 6px;
    min-height: 250px;
    background-color:lightgrey;
    margin-bottom: 20px;
}

.order-item-flex{
    width: 100%;
    height: 100%;
}

.onclick-hover :hover {
    background-color: aliceblue;
    cursor: pointer;
}